@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
:root {
  --primary: #000 ;
  --secondary: #ff0077;
  --tertiary: #006eff;
  --dark: #fff;
  --background: linear-gradient(140deg, rgba(237, 255, 253, 0.479), #dcfbfc8a);
  --box: #6bb5fa;
  --nav: #b9f4f5;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
}

body {
  background: var(--background);
  color: var(--primary);
}

main {
  width: 100vw;
  margin: 0;
}

#main {
  margin: 20px 0;
}

section {
  margin: 0 auto;
  width: 90%;
  min-height: 300px;
  max-height: fit-content;
  padding-bottom: 12px;
  border-bottom: 1px solid #3a3939a4;
}

h1, #name-span {
  font-size: 24px;
  font-family: 'League Gothic';
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 30;
  height: 50px;
  width: 100vw;
  margin: -10px -20px;
}

nav .nav-flex {
  display: flex;
  position: relative;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
  color: var(--primary);
  text-transform: uppercase;
  width: 10vw;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 18px;
}

nav li:hover {
  color: #fff;
  background: var(--secondary);
}

nav li:hover a {
  color: #fff;
}

nav li a {
  color: var(--primary);
}

#download-btn {
  background: var(--secondary);
  padding: 8px 10px;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  font-size: 12px;
}

#download-btn a {
  color: #fff;
}

.logo img {
  height: 30px;
  width: 30px;
}

.menu-bar {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  background: #fff;
  padding: 10px;
}

.menu-bar img {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
}

.nav-mobile {
  display: none;
  width: 50vw;
  height: 0px;
  position: fixed;
  right: 0;
  z-index: 10;
  top: 25px;
  color: #fff;
  overflow-y: hidden;
  transition: 1s;
}

.nav-mobile li {
  background: var(--secondary);
  color: #fff;
  margin: 10px;
  text-align: right;
  padding: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
}

.nav-mobile li:hover {
  background: #000;
}

.nav-mobile li a {
  color: #fff;
  width: 50vw;
}

#mode {
  position: relative;
  display: flex;
  height: fit-content;
  z-index: 20;
  height: 25px;
  background: #000;
}

#mode img {
  position: absolute;
  height: 100%;
  display: block;
  cursor: pointer;
  top: 0;
}

#light {
  visibility: hidden;
}

#dark {
  visibility: visible;
}

#cancel-icon {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile, .menu-bar {
    display: block;
  }
}

#summary {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.summary-items {
  margin-top: 100px;
}

.summary-items h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
}

.summary-items h1, .summary-items #name-span {
  margin: 0;
  margin-top: 20px;
  font-size: 4rem;
  font-family: serif;
}

.summary-items #i-am {
  color: var(--secondary);
}

.summary-items #role {
  color: var(--secondary);
  font-size: 1.2rem;
}

#info-lead #info {
  font-size: 2rem;
  color: var(--primary);
  width: 60%;
  border-bottom: 2px solid var(--secondary);
  margin-bottom: 0;
}

#info-lead p {
  width: 80%;
  padding: 15px;
  border-radius: 10px;
}

#info-lead .read-more {
  background: var(--secondary);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
  margin: 0 3px;
  display: inline-block;
}

.socials img {
  background: var(--primary);
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 50%;
}

.socials img:hover {
  transform: scale(1.2);
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

@media (max-width: 600px) {
  .skills {
    width: 100%;
    margin: 0;
  }
}

.skills > div {
  background: var(--dark);
  margin-right: 5px;
  min-width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  min-height: 210px;
  /* max-width: 200px; */
  border-radius: 5px;
  margin-top: 50px;
  align-self: stretch;
  justify-self: stretch;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

@media (max-width: 600px) {
  .skills > div {
    height: 250px;
  }
}

.skills > div h4 {
  color: var(--secondary);
}

.skills .skill-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  margin: 0 auto;
}

.skills .skill-tools #npm, .skills .skill-tools #node {
  height: 40px;
  width: 40px;
  margin: 0;
}

.skills .skill-tools #npm:hover, .skills .skill-tools #node:hover {
  transform: scale(1.1);
}

.skills .skill-tools #node {
  height: 35px;
  width: 35px;
}

.summary-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

@media (max-width: 600px) {
  .summary-info {
    width: 100%;
    margin: 0;
  }
}

.summary-info h4 {
  margin-bottom: 10px;
  color: var(--secondary);
}

.summary-info > div {
  margin-right: 5px;
  background: var(--dark);
  margin-right: 5px;
  min-width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  align-self: stretch;
  justify-self: stretch;
  height: 100px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.summary-info p {
  color: var(--secondary);
  margin-top: 0;
  font-size: 32px;
  font-weight: 300;
}

.summary-profile {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.summary-profile .card {
  background: var(--secondary);
  position: absolute;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  bottom: 0;
  margin: 0 auto;
}

.summary-profile img {
  display: block;
  height: 700px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

section > h2 {
  min-width: 300px;
  max-width: 500px;
  border-bottom: 2px solid var(--secondary);
}

.services h3 {
  font-size: 2rem;
}

.services-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.services p {
  opacity: 0.5;
}

.services-box > div {
  background: var(--dark);
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  min-width: 240px;
  height: 300px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.services-box img {
  height: 50px;
  backdrop-filter: invert(1);
  background: var(--secondary);
  padding: 5px;
  border-radius: 5px;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.project-items {
  background: var(--dark);
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  justify-self: stretch;
  color: #fff;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  overflow: hidden;
}

.project-items img {
  height: 98%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  margin: 5px auto;
  object-fit: cover;
}

.project-data {
  padding: 10px;
}

.project-data h4 {
  color: var(--secondary);
}

.project-data p {
  max-width: 80%;
  opacity: 0.5;
}

.project-info {
  position: relative;
}

.project-info #left {
  right: 10px;
  top: 85%;
  background: #fff;
  color: var(--secondary);
}

.project-info #left-img {
  transform: rotate(315deg);
}

.project-info #right {
  right: 10px;
}

.project-info a {
  position: absolute;
  display: flex;
  background: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 20px;
  top: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 12px;
  width: fit-content;
  color: white;
  font-weight: 900;
}

.project-info a img {
  height: 22.5px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .services-box {
    grid-template-columns: 1fr;
  }
  .services-box > div {
    background: var(--dark);
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px;
    height: 300px;
  }
  .services-box p {
    font-size: 0.9rem;
  }
  .project-items {
    background: var(--dark);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: 90%;
    flex-direction: column-reverse;
    margin: 5px auto;
    justify-self: stretch;
  }
  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 100%;
  }
  .project-info #left {
    left: 10px;
    top: 20px;
  }
}

.education {
  border-left: 3px solid var(--secondary);
  /* position: relative; */
}

.education-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education > div {
  display: flex;
  align-items: center;
}

.dots::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  display: block;
  border-radius: 50%;
  margin-top: -10%;
  position: absolute;
}

.dots {
  background: var(--tertiary);
  width: 50px;
  height: 3px;
  display: flex;
  position: relative;
  right: 7.5px;
  z-index: 0;
}

.education-item {
  background: var(--dark);
  min-width: 300px;
  max-width: 350px;
  padding: 10px 20px;
  margin: 10px;
  margin-left: -10px;
  border-radius: 10px;
  color: #fff;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  z-index: 2;
}

.education h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.education h4 {
  color: var(--secondary);
  margin: -10px 0 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.education p {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .education-box {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .education-item {
    min-width: 200px;
    max-width: 80%;
    padding: 20px;
    margin: 10px;
    margin-left: -10px;
    border-radius: 10px;
  }
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client img {
  height: 30px;
  background: none;
  border: 1px solid #fff;
}

#back {
  transform: rotate(180deg);
}

.testifiers-container {
  position: relative;
  max-width: 901px;
  margin: 0 auto;
}

.testifiers {
  display: flex;
  width: 300px;
}

.testifier-card {
  background: var(--dark);
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.testifier-head {
  display: flex;
  justify-content: space-between;
}

.rating img {
  height: 16px;
}

.quote-icon {
  height: 25px;
  filter: invert(1);
}

.quote {
  max-width: 90%;
  margin: 10px auto;
  /* border: 1px dashed var(--tertiary); */
  padding: 10px;
  border-radius: 10px;
}

/* button of testifiers */
.testifier-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.testifier-details > div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.testifier-details img {
  height: 50px;
  border-radius: 50%;
}

.testifier-details h3 {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 1rem;
}

.testifier-details h4 {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--tertiary);
}

/* partners */
.partner-container {
  width: 80vw;
  display: flex;
  overflow-x: hidden;
  justify-content: right;
}

.partners-box {
  width: 60%;
  display: flex;
}

.partners-logo {
  background: var(--dark);
  margin: 100px 10px;
  min-width: 200px;
  border-radius: 5px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.partners-logo img {
  padding: 10px;
  height: 50px;
  display: block;
  max-width: 180px;
  margin: 0 auto;
}

.partners-logo:hover > img {
  filter: brightness(0) invert(1);
}

.partners-logo:hover {
  background: var(--secondary);
}

@media screen and (max-width: 600px) {
  .testifiers-container {
    overflow: hidden;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  .testifiers {
    display: flex;
    width: 280px;
  }
  /* testifiers head rating sides */
  .testifier-card {
    background: var(--dark);
    height: 220px;
    min-width: 200px;
    max-width: 220px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 1px;
  }
  .testifier-card p {
    font-size: 12px;
  }
  .testifier-head .quote-icon {
    height: 16px;
  }
  .testifier-head .rating img {
    height: 12px;
  }
  .testifier-details img {
    height: 30px;
  }
  .testifier-details h3 {
    font-size: 11px;
  }
  .testifier-details h4 {
    font-size: 10px;
  }
}

.contact {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
  color: var(--tertiary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 3px var(--box);
}

.contact-details {
  height: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 1px var(--box);
}

.contact-details > div {
  background: var(--dark);
  min-width: 150px;
  height: 100px;
}

.contact-details img {
  height: 40px;
  display: block;
  width: 50px;
  margin: 20% auto;
  padding: 10px;
  border-radius: 3px;
  background: var(--dark);
  box-shadow: 1px 1px 3px var(--box);
}

.contact-info {
  background: var(--dark);
  min-width: 500px;
  max-width: 600px;
  padding: 10px;
}

.contact-info > div {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--background);
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  border-radius: 5px;
  /* box-shadow: -1px 1px 2px #333030; */
}

.contact-info textarea {
  color: var(--primary);
  width: 100%;
  height: 100px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: var(--background);
}

.contact-info input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--primary);
  font-size: 1rem;
  background: var(--background);
  box-shadow: 1px 1px 3px var(--box);
}

#subject {
  box-shadow: none;
}

#inputs {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-content: stretch;
  padding: 10px;
  margin: 0 auto;
  gap: 5px;
  background: var(--background);
  background: none;
  box-shadow: none;
}

#inputs input {
  width: 98%;
  height: 2rem;
  margin: 0 -8px;
  outline: none;
  padding-left: 10px;
  /* border: 10px solid var(--dark); */
  border-radius: 4px;
  /* box-shadow: -1px 1px 2px #333030; */
}

.contact-info button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto;
  color: var(--primary);
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px var(--box);
  border: none;
  font-size: 16px;
  border-radius: 10px;
}

.contact-info button:hover {
  background: var(--box);
  color: var(--dark);
}

.contact-info ::placeholder {
  margin-left: 5px;
  font-size: 1rem;
}

.contact-info button img {
  height: 20px;
  margin-left: 20px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .contact {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .contact-info {
    background: var(--dark);
    min-width: 200px;
    max-width: 350px;
    padding: 10px;
  }
  .contact-info button {
    font-size: 14px;
  }
  .contact-info button img {
    height: 16px;
  }
  .contact-details {
    flex-direction: row;
    width: 100%;
  }
  .contact-details > div {
    min-width: 22.5%;
    justify-self: stretch;
    align-self: stretch;
    margin: 0;
    height: fit-content;
  }
}

#small-screen {
  display: none;
}

@media only screen and (max-width: 700px) {
  #small-screen {
    display: block;
  }
  #large-info {
    display: none;
  }
}

@media (max-width: 600px) {
  .large-skills, .bio-large {
    display: none;
  }
  #summary {
    grid-template-columns: 1fr 1fr;
  }
  .summary-items {
    margin-top: 100px;
  }
  .summary-items h3 {
    font-size: 20px;
  }
  .summary-items h1, .summary-items #name-span {
    font-size: 24px;
  }
  .summary-items #role {
    font-size: 11px;
    margin-bottom: 40px;
    width: 80%;
  }
  .summary-profile img {
    height: 280px;
    width: 100%;
    display: block;
  }
  .summary-profile .card {
    height: 65%;
  }
}

#progress-container {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 5px 10px;
}

#progress-container:hover > #progress {
  visibility: visible;
}

#progress-container #progress {
  background: #3eff04;
  width: 100px;
  height: 16px;
  border-radius: 4px;
  position: absolute;
  top: -30px;
  right: -90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-right: 5px;
  visibility: hidden;
  z-index: 2;
}

#progress-container #progress::after {
  content: " ";
  border: 7px solid transparent;
  border-top-color: var(--secondary);
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: 0;
}

#progress-container #progress #skill-name {
  height: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 3px 0 0 3px;
  background: var(--secondary);
  margin: 0;
  position: absolute;
}

#progress-container #progress #skill-level, #progress-container #progress #skill-title {
  display: block;
  position: absolute;
  padding: 4px;
  font-weight: 700;
  right: 0;
  color: black;
}

#progress-container #progress #skill-title {
  left: 0;
  background: none;
  color: #fff;
  font-weight: 500;
}

.project-data img {
  height: 100px;
}
