@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
:root {
  --boshshsx: #1100ff;
  --primary: #000;
  --secondary: #ff0077;
  --tertiary: #006eff;
  --dark: #fff;
  --white: #fff;
  --background: linear-gradient(140deg, rgba(237, 255, 253, 0.479)), no-repeat;
  --box: #6bb5fa;
  --text: #13099e81;
  --nav: #b9f4f5;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 12px;
  opacity: 0.5;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
}

body {
  background: var(--background);
  color: var(--primary);
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  height: -moz-fit-content;
  height: fit-content;
}

main {
  opacity: 0;
  transition: "opacity" 5s;
}

#main {
  scroll-behavior: smooth !important;
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  min-height: 200px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-top: 100px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(58, 57, 57, 0.1529411765);
  position: relative;
  transition: 2s;
  scroll-snap-type: Y proximity;
}
section > h2 {
  margin-top: 50px;
  z-index: 10;
  width: 60%;
  padding-bottom: 4px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  border-left: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
}

h1, #name-span {
  font-size: 24px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  height: 50px;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}
nav .nav-flex {
  display: flex;
  position: relative;
}
nav .nav-flex #project-home {
  background: red;
  width: 300px;
  height: 300px;
  position: fixed;
}
nav li {
  list-style-type: none;
  margin: 0 10px;
  color: var(--primary);
  text-transform: uppercase;
  width: 150px;
  background-color: none;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 5px;
  text-align: center;
  border-radius: 5px;
  transition: "background" 0.5s;
  font-size: 18px;
}
nav li:hover {
  color: #fff;
  background: var(--secondary);
}
nav li:hover a {
  color: #fff;
}
nav li a {
  color: var(--primary);
}

#download-btn {
  background: var(--secondary);
  padding: 8px 10px;
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  color: white;
  font-size: 12px;
}
#download-btn a {
  color: #fff;
}

.logo img {
  height: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 900px) {
  .logo img {
    height: 10px;
  }
}

.menu-bar {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 3px;
}
.menu-bar img {
  position: absolute;
  height: 18px;
  width: 18px;
}

.mobile {
  position: absolute;
  justify-content: left;
}

.nav-mobile {
  flex-direction: column;
  height: 0px;
  position: fixed;
  right: 2px;
  margin: 0 auto;
  z-index: 10;
  top: 25px;
  color: #fff;
  overflow-y: hidden;
  transition: 1s;
}
.nav-mobile li {
  background: var(--secondary);
  color: #fff;
  width: 200px;
  margin: 10px;
  text-align: right;
  padding: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 4px;
}
.nav-mobile li:hover {
  background: #000;
}
.nav-mobile li a {
  color: #fff;
  width: 50%;
}

#mode {
  position: relative;
  display: flex;
  height: 25px;
  background: none;
  width: 40px;
  margin-right: -20px;
}
#mode img {
  position: absolute;
  height: 100%;
  display: block;
  cursor: pointer;
  top: 0;
}

#light {
  visibility: hidden;
}

#dark {
  visibility: visible;
}

#cancel-icon {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .nav-desktop {
    display: none;
  }
  .menu-bar {
    display: flex;
  }
  .nav-mobile {
    display: flex;
  }
}
#preloader {
  background: black no-repeat center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 1;
}

#nav #home {
  height: 30px;
  width: 30px;
}

#summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 10px auto;
  margin-top: 200px;
}
@media (max-width: 900px) {
  #summary {
    margin-top: 0;
  }
}

.profile-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 900px) {
  .profile-image {
    display: none;
  }
}
.profile-image img {
  border-radius: 0 0 50% 50%;
  width: 250px;
  height: 250px;
}

.summary-items {
  margin-top: 0;
}
@media (max-width: 900px) {
  .summary-items {
    margin-top: 50px;
  }
}
.summary-items .social-hire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 30px;
}
@media (max-width: 900px) {
  .summary-items .social-hire {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.summary-items .social-hire #hire-me {
  background: var(--secondary);
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  margin-top: 0;
}
.summary-items .social-hire #hire-me a {
  color: #fff;
}
.summary-items .social-hire .socials {
  display: flex;
}
.summary-items .social-hire .socials img {
  height: 30px;
  width: 30px;
  display: block;
  padding: 2px;
  margin-right: 15px;
  cursor: pointer;
}
.summary-items .social-hire .socials img:hover {
  transform: scale(1.2);
}
@media (max-width: 900px) {
  .summary-items .social-hire .socials img {
    margin-right: 5px;
  }
}
.summary-items h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
}
.summary-items h1, .summary-items #name-span {
  margin: 0;
  margin-top: 20px;
  font-size: 4rem;
  font-family: serif;
}
.summary-items #i-am {
  color: var(--secondary);
}
.summary-items #role {
  color: var(--secondary);
  font-size: 1.2rem;
}

#info {
  width: 50%;
  margin-left: 20px;
}
#info mark {
  background: none;
  color: var(--secondary);
}
#info .capitals {
  font-weight: 700;
  color: var(--secondary);
}
@media (max-width: 900px) {
  #info {
    width: 95%;
    margin-left: 0;
  }
}
#info .brief-info {
  font-family: "Titillium Web", sans-serif;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 0.8;
  font-weight: 300;
}
@media (max-width: 900px) {
  #info .brief-info {
    font-size: 0.8rem;
  }
}
#info .read-more {
  background: var(--secondary);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 1px 4px;
  margin: 0 3px;
  display: inline-block;
}

.skills {
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .skills {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;
  }
}
.skills > div {
  background: var(--dark);
  margin-right: 5px;
  min-width: 150px;
  min-height: 220px;
  max-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  align-self: stretch;
  justify-self: stretch;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}
@media (max-width: 900px) {
  .skills > div {
    min-height: 100px;
    max-height: 200px;
  }
}
.skills > div h4 {
  color: var(--secondary);
  font-size: 12px;
}
.skills .skill-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 10px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .skills .skill-tools {
    grid-template-columns: repeat(4, 1fr);
  }
}
.skills .skill-tools #npm, .skills .skill-tools #node {
  height: 40px;
  width: 40px;
  margin: 0;
}
.skills .skill-tools #npm:hover, .skills .skill-tools #node:hover {
  transform: scale(1.1);
}
.skills .skill-tools #node {
  height: 35px;
  width: 35px;
}

.summary-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .summary-info {
    gap: 1px;
    margin: 0 auto;
    width: 100%;
  }
}
.summary-info h4 {
  margin-bottom: 10px;
  color: var(--secondary);
}
.summary-info > div {
  margin-right: 5px;
  background: var(--dark);
  margin-right: 5px;
  min-width: 70px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  align-self: stretch;
  justify-self: stretch;
  height: 100px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}
.summary-info p {
  color: var(--tertiary);
  margin-top: 0;
  font-size: 32px;
  font-weight: 300;
}

.services-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.services p {
  opacity: 0.7;
}
.services p mark {
  color: var(--secondary);
  background: none;
}

.services-box > div {
  background: var(--dark);
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  min-width: 240px;
  height: 300px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.services-box img {
  height: 50px;
  -webkit-backdrop-filter: invert(1);
  backdrop-filter: invert(1);
  background: var(--secondary);
  padding: 5px;
  border-radius: 5px;
}

#all-projects {
  display: block;
  margin: 10px auto;
  border: none;
  outline: none;
  width: 200px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  color: #fff;
}
#all-projects:hover {
  background: var(--nav);
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60%;
}
@media (max-width: 900px) {
  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
  }
}

.project-items {
  background: var(--dark);
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 300px;
  margin: 30px;
  justify-self: stretch;
  color: #fff;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  overflow: hidden;
}
.project-items .project-image {
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.project-items .project-image::-webkit-scrollbar {
  display: none;
}
.project-items .project-image:hover .project-description {
  transform: translateY(10%);
}
.project-items .project-image .project-description {
  position: absolute;
  padding: 20px;
  background: var(--background);
  transform: translateY(110%);
  color: var(--primary);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  margin: 0 auto;
  transition: transform 1s;
}
.project-items .project-image .project-description a {
  display: inline;
  color: inherit;
  word-wrap: break-word;
}
.project-items .project-image .project-main-image {
  width: 100%;
  height: 100%;
}
.project-items .project-data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 0;
  background: var(--nav);
}
.project-items .project-data .project-summary {
  padding-left: 10px;
  justify-content: center;
  height: 100px;
}
.project-items .project-data .project-summary h4 {
  margin-top: 0;
}
.project-items .project-data .project-summary #project-name {
  font-size: 16px;
  margin-top: 10px;
}
.project-items .project-data .project-summary #project-date {
  color: var(--secondary);
}
.project-items .project-data .project-summary #project-description {
  font-size: 10px;
  opacity: 0.5;
  text-transform: uppercase;
}
.project-items .project-data .project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-items .project-data .project-info #preview-icons {
  margin-top: 5px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.project-items .project-data .project-info #preview-icons a img {
  width: 20px;
  height: 40px;
  object-fit: initial;
}
.project-items .project-data .project-info .project-tools-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.project-items .project-data .project-info .project-tools-div .project-tools-images {
  height: 30px;
  width: 30px;
  padding: 5px;
  justify-self: end;
}

@media only screen and (max-width: 900px) {
  .services-box {
    grid-template-columns: 1fr;
  }
  .services-box > div {
    background: var(--dark);
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    min-width: 100px;
    height: 300px;
  }
  .services-box p {
    font-size: 0.9rem;
  }
}
.education {
  border-left: 3px solid var(--secondary);
  max-width: 90%;
  margin: 0 auto;
  /* position: relative; */
}

.education-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: 0 auto;
}

.eduEx-heading {
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 900px) {
  .eduEx-heading {
    font-size: 12px;
    margin-top: 50px;
    text-transform: uppercase;
    border: 1px solid var(--secondary);
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
  }
}

.education > div {
  display: flex;
  align-items: center;
}

.dots::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 1px solid var(--dark);
  background: var(--tertiary);
  display: block;
  border-radius: 50%;
  margin-top: -10%;
  position: absolute;
}

.dots {
  background: var(--secondary);
  min-width: 50px;
  height: 3px;
  display: flex;
  position: relative;
  right: 7.5px;
  z-index: 0;
}

.education-item {
  background: var(--dark);
  min-width: 300px;
  max-width: 320px;
  padding: 10px 20px;
  margin: 10px;
  margin-left: -10px;
  border-radius: 10px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  z-index: 2;
}
.education-item p {
  opacity: 0.6;
  line-height: 1.1rem;
  font-size: 0.85rem;
  font-family: "Titillium Web", sans-serif;
}
.education-item > h2 {
  font-size: 16px;
}
.education-item #certificate {
  border: none;
  outline: none;
  display: block;
  padding: 5px;
  border-radius: 4px;
  background: var(--secondary);
}
.education-item #certificate:hover {
  background: var(--tertiary);
}
.education-item #certificate a {
  color: var(--white);
}

.education h4 {
  color: var(--secondary);
  margin: -10px 0 0;
  font-size: 0.8rem;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .education-box {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
  }
  .education-item {
    min-width: 280px;
    max-width: 280px;
    padding: 20px;
    margin: 10px;
    margin-left: -10px;
    border-radius: 10px;
  }
  .dots {
    min-width: 40px;
  }
}
.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.client img {
  height: 30px;
  background: none;
  display: none;
}
@media (max-width: 900px) {
  .client img {
    display: none;
  }
}

#back {
  transform: rotate(180deg);
}

.testifiers-container {
  overflow-x: scroll;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}
.testifiers-container::-webkit-scrollbar {
  display: none;
}

.testifier-card {
  background: var(--dark);
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  margin-right: 50px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}
.testifier-card:hover {
  background: var(--secondary);
  color: var(--primary);
  transform: scale(1.05);
  position: relative;
}

.testifier-head {
  display: flex;
  justify-content: space-between;
}

.rating img {
  height: 16px;
}

.quote-icon {
  height: 25px;
  filter: invert(1);
}

.quote {
  max-width: 90%;
  margin: 10px auto;
  /* border: 1px dashed var(--tertiary); */
  padding: 10px;
  border-radius: 10px;
}

/* button of testifiers */
.testifier-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.testifier-details > div {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.testifier-details img {
  height: 50px;
  border-radius: 50%;
}

.testifier-details h3 {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 1rem;
}

.testifier-details h4 {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--tertiary);
}

/* partners */
.partner-container {
  width: 80%;
  display: flex;
  overflow-x: hidden;
  justify-content: right;
}

.partners-box {
  width: 60%;
  display: flex;
}

.partners-logo {
  background: var(--dark);
  margin: 100px 10px;
  min-width: 200px;
  border-radius: 5px;
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
}

.partners-logo img {
  padding: 10px;
  height: 50px;
  display: block;
  max-width: 180px;
  margin: 0 auto;
}

.partners-logo:hover > img {
  filter: brightness(0) invert(1);
}

.partners-logo:hover {
  background: var(--secondary);
}

@media screen and (max-width: 900px) {
  .testifiers-container {
    position: relative;
    margin: 0 auto;
    padding-left: 10px;
  }
  /* testifiers head rating sides */
  .testifier-card {
    background: var(--dark);
    height: 220px;
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  .testifier-card p {
    font-size: 12px;
  }
  .testifier-head .quote-icon {
    height: 16px;
  }
  .testifier-head .rating img {
    height: 12px;
  }
  .testifier-details img {
    height: 30px;
  }
  .testifier-details h3 {
    font-size: 11px;
  }
  .testifier-details h4 {
    font-size: 10px;
  }
}
.contact {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--tertiary);
  border-radius: 10px;
  overflow: hidden;
  background: var(--dark);
  box-shadow: 1px 1px 3px var(--box);
  margin-bottom: 50px;
}

.contact-details {
  height: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 1px var(--box);
}

.contact-details > div {
  background: var(--dark);
  min-width: 150px;
  height: 100px;
}

.contact-details img {
  height: 40px;
  display: block;
  width: 50px;
  margin: 20% auto;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px var(--box);
}

.contact-info {
  background: var(--dark);
  min-width: 500px;
  max-width: 900px;
  padding: 10px;
}

.contact-info > div {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--background);
  color: var(--tertiary);
  box-shadow: 1px 1px 3px var(--box);
  border-radius: 5px;
  /* box-shadow: -1px 1px 2px #333030; */
}

.contact-info textarea {
  color: var(--primary);
  width: 100%;
  height: 150px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: var(--background);
}

.contact-info input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--primary);
  font-size: 1rem;
  background: var(--background);
  box-shadow: 1px 1px 3px var(--box);
}

#subject {
  box-shadow: none;
}

#inputs {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-content: stretch;
  padding: 10px;
  margin: 0 auto;
  gap: 5px;
  background: var(--background);
  background: none;
  box-shadow: none;
}

#inputs input {
  width: 98%;
  height: 2rem;
  margin: 0 -8px;
  outline: none;
  padding-left: 10px;
  /* border: 10px solid var(--dark); */
  border-radius: 4px;
  /* box-shadow: -1px 1px 2px #333030; */
}

.contact-info button {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 20px auto;
  color: var(--primary);
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px var(--box);
  border: none;
  font-size: 16px;
  border-radius: 10px;
}
.contact-info button:hover {
  background: var(--box);
  color: var(--dark);
}

.contact-info ::placeholder {
  margin-left: 5px;
  font-size: 1rem;
}

.contact-info button img {
  height: 20px;
  margin-left: 20px;
  display: block;
}

@media only screen and (max-width: 900px) {
  .contact {
    flex-direction: column-reverse;
    gap: 10px;
    width: 100%;
  }
  .contact-info {
    background: var(--dark);
    min-width: 90%;
    max-width: 100%;
    padding: 10px;
  }
  .contact-info button {
    font-size: 14px;
  }
  .contact-info button img {
    height: 16px;
  }
  .contact-details {
    flex-direction: row;
    width: 100%;
  }
  .contact-details > div {
    min-width: 22.5%;
    justify-self: stretch;
    align-self: stretch;
    margin: 0;
    height: fit-content;
  }
}
#small-screen {
  display: none;
}

@media only screen and (max-width: 700px) {
  #small-screen {
    display: block;
  }
  #large-info {
    display: none;
  }
}
@media (max-width: 900px) {
  .large-skills,
.bio-large {
    display: none;
  }
  #summary {
    grid-template-columns: 1fr;
  }
  .summary-items {
    margin-top: 100px;
  }
  .summary-items h3 {
    font-size: 20px;
  }
  .summary-items h1, .summary-items #name-span {
    font-size: 24px;
  }
  .summary-items #role {
    font-size: 11px;
    margin-bottom: 40px;
    width: 80%;
  }
}
#progress-container {
  position: relative;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 10px 15px;
}
@media (max-width: 900px) {
  #progress-container {
    height: 20px;
    width: 20px;
    margin: 12px 20px;
  }
}
#progress-container:hover > #progress {
  display: block;
}
#progress-container #progress {
  background: rgb(245, 4, 137);
  width: 80px;
  height: 16px;
  border-radius: 4px;
  position: absolute;
  top: -30px;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  margin-right: 5px;
  display: none;
  z-index: 2;
  filter: none;
}
#progress-container #progress::after {
  content: " ";
  border: 7px solid transparent;
  border-top-color: var(--secondary);
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: 0;
}
#progress-container #progress #skill-name {
  height: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 3px 0 0 3px;
  background: rgb(4, 187, 87);
  margin: 0;
  position: absolute;
}
#progress-container #progress #skill-level, #progress-container #progress #skill-title {
  display: block;
  position: absolute;
  padding: 4px;
  font-weight: 700;
  font-size: 9px;
  right: 0;
  color: rgb(255, 255, 255);
}
#progress-container #progress #skill-title {
  left: 0;
  background: none;
  color: #fff;
  font-weight: 500;
}

.skill-rating-btn {
  background: none;
  color: var(--primary);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px auto;
  border-radius: 5px;
  opacity: 0.8;
}

.large-click {
  display: block;
}

@media (max-width: 900px) {
  .large-click {
    display: none;
  }
  .small-click {
    display: block;
    margin: 10px auto;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--nav);
  padding: 50px 10%;
  overflow: hidden;
  position: fixed;
  transform: translateX(150%);
  transition: 500ms;
  z-index: 10;
}
.mobile-menu .nav-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}
.mobile-menu .nav-flex a {
  list-style-position: outside;
  margin: 3px 0;
  text-transform: uppercase;
  background: var(--background);
  padding: 15px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: var(--secondary);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 12px;
}
.mobile-menu .nav-flex a:hover {
  background: var(--secondary);
  color: #fff;
}
.mobile-menu .image-container {
  background-color: var(--secondary);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.mobile-menu .image-container img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.project-data img {
  height: 100px;
}