:root{
    // --primary: #fff ;
    // --secondary: #fa2388;
    // --tertiary: #7afa03;
    // --dark: #1a0129;
    // --background: linear-gradient(105deg, #240127ee ,#0d0122 50%, #07010f);;
    // --box: #52606d;
    --primary: #000 ;
    --secondary: #ff0077;
    --tertiary: #0126f7;
    --dark: #fff;
    --background: linear-gradient(140deg, rgba(237, 255, 253, 0.479), #dcfbfc8a);
    --box: #6bb5fa;
    --nav: #b9f4f5;
}

//  Variables
// 1.  for font-size
            $small : 12px;
            $medium : 16px;
            $large : 20px;
            $x-large : 24px;

// 2. for font-weight
            $thin: 300;
            $normal: 400;
            $semi-bold: 600;
            $bold: 800;


// 3. for widths
            $full: 100vw;
            $half: 50vw;
            $third : 33.33vw;
            $qtr : 25vw;
            $tenth: 10vw;

// 4. for margin and padding
            $center: 0 auto;
            $p-small: 4px;
            $p-medium: 8px;
            $p-large: 12px;


//  5. for screens 
            $small-screen :only screen and (max-width: 600px);
            $medium-screen :only screen and (max-width: 900px);
            $large-screen :only screen and (min-width: 1200px);


// Mixins



// partials
@import "./home/selectors";
@import "./home/nav";
@import "./home/home";
@import "./home/services";
@import "./home/education";
@import "./home/testimonial";
@import "./home/contact";
@import "./home/screen";
@import "./home/skills_icons";

@import "./projects/projects";
