.education{
    border-left: 3px solid var(--secondary);
    max-width: 90%;
    
    margin: 0 auto;
    /* position: relative; */
}

.education-box{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;

}

.education>div{
    display: flex;
    align-items: center;
}

.dots::before{
    content: "";
    height: 10px;
    width: 10px;
    border:1px solid var(--dark);
    background: var(--tertiary);
    display: block;
    border-radius: 50%;
    margin-top:-10%;
    position: absolute;
}

.dots{
    background: var(--secondary);
    min-width: 50px; 
    height: 3px;
    display:flex;
    position: relative;
    right: 7.5px;
    z-index: 0;
}

.education-item{
    background: var(--dark);
    min-width: 300px;
    max-width: 320px;
    padding: 10px 20px;
    margin: 10px;
    margin-left: -10px;
    border-radius: 10px;
    color:#fff;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
    z-index:2;
}
.education h2{
    font-size: 1.2rem;
    font-weight: 700;
}


.education h4{
    color: var(--secondary);
    margin: -10px 0 0 ;
    font-size: 0.8rem;
    font-weight: 400;
}

.education p{
    opacity: 0.5;
}


@media only screen  and (max-width:600px) {
    .education-box{
        display:grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin:0 auto;
    }

    .education-item{
        min-width: 180px;
        max-width: 300px;
        padding: 20px;
        margin: 10px;
        margin-left: -10px;
        border-radius: 10px;
    }
    .dots{
        background: var(--secondary);
        min-width: 40px;
    }
}
