
#summary{
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 90%;
    justify-content: center;
}

// first column

.summary-items{
    margin-top: 100px;

    h3{
        font-size:2.2rem;
        font-weight: 400;
        margin: 0;
    }

    h1{
        margin: 0;
        margin-top: 20px;
        font: {
            size: 4rem;
            family: serif;
            
        }
      
        // #name-span{
        //     // display:block;
        //     font-size: 3rem;
        // }
    }

    #i-am{
        color:var(--secondary);
    }
    #role{
        color:var(--secondary);
        font-size: 1.2rem;
    }
}


// Brief Info Section
#info-lead{

    #info{
        font-size: 2rem;
        color:var(--primary);
        width: 60%;
        border-bottom: 2px solid var(--secondary);
        margin-bottom: 0;
    }
    #large-info{
        border-radius: 10px;
        width:80%;
    }
    
    #small-info{
        border-radius: 10px;
        width:98%;
    }

    .read-more{
        background: var(--secondary);
        border:none;
        border-radius: 4px;
        color: #fff;
        padding: 4px;
        margin: 0 3px;
        display:inline-block;
    }
}



// social icons
.socials{
    img{
        background: var(--primary);
        height: 30px;
        width: 30px;
        padding: 2px;
        border-radius: 50%;
        &:hover{
            transform: scale(1.2);

        }
    }
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    

    @media #{$small-screen}{
        width: 90%;
        margin:0;
        margin: 0 auto;
    }

    &>div{
        background: var(--dark); 
        margin-right: 5px;
        min-width: 110px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 10px;
        min-height:210px;
        /* max-width: 200px; */
        border-radius: 5px;
        margin-top: 50px;
        align-self: stretch;
        justify-self: stretch;
        color: var(--tertiary);
        box-shadow: 1px 1px 3px var(--box);
       

        @media #{$small-screen}{
            height: 250px;
        }

        h4{
            color: var(--secondary);
        }
    }
    .skill-tools{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-items: center;
        justify-content: center;
        max-width: 10px;
        margin: 0 auto;

        #npm{
            height:40px;
            width: 40px;
            margin: 0;
            &:hover{
                transform: scale(1.1)
            }
        }

        #node{
            @extend #npm;
            height:35px;
            width: 35px;
        }

        // img{
        //     width: 25px;
        //     height: 25px;
        //     display: block;
        //     margin: 10px;

        //     &:hover{
        //         transform: scale(1.2)
        //     }
        // }

    }

}

.summary-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;

        @media #{$small-screen}{
            width: 90%;
            margin:0;
            margin: 0 auto;
        }
        
        h4{
            margin-bottom: 10px;
            color: var(--secondary);
        }

        &>div{
            margin-right: 5px;
            background: var(--dark);
            margin-right: 5px;
            min-width: 110px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            margin-top: 50px;
            align-self: stretch;
            justify-self: stretch;
            height: 100px;
            color: var(--tertiary);
            box-shadow: 1px 1px 3px var(--box);
        }
        p{  
            color: var(--tertiary);
            margin-top: 0;
            font: {
                size: 32px;
                weight: 300;
            }
        }
}

.summary-profile{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .card{
        background: var(--secondary);
        position:absolute;
        height: 50%;
        width: 100%;
        border-radius: 10px;
        bottom: 0;
        margin: 0 auto;
    }
    
    img{
        display:block;
        height: 700px;
        width: 100%;
        position: absolute;
        bottom:0;
        margin: 0 auto;
    }
    
}