@import "./variables";
#summary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items:flex-end;
    width: 90%;
    margin: 10px auto;
    // background: red;
}

.profile-image{
    // background: red;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .line{
        width: 5px;
        height: 70vh;
        position: absolute;
        justify-self: flex-end;
        top:0;
        // transform:rotateZ(45deg);
        // background-color: blue;
    }
    img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        &::after{
            content: "Hello";
            width: 5px;
            height: 100%;
            position: absolute;
            background: #46f501; 
        }
    }
}
// first column
.summary-items{
    margin-top: 100px;
    h3{
        font-size:2.2rem;
        font-weight: 400;
        margin: 0;
    }

    h1{
        margin: 0;
        margin-top: 20px;
        font: {
            size: 4rem;
            family: serif;
            
        }
    }

    #i-am{
        color:var(--secondary);
    }
    #role{
        color:var(--secondary);
        font-size: 1.2rem;
    }
}


// Brief Info Section
#info-lead{
    margin-top: 200px;
    margin-left: 40px;
    // background: red;
    @media (max-width:600px){
        margin-top:50px;
        margin-left:0;
    }
    #info{
        font-size: 2rem;
        color:var(--primary);
        border-bottom: 2px solid var(--secondary);
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        @media (max-width: 600px){
            width: 60%;
            text-align: left;

        }
    }
    .brief-info{
        font-weight: 400;
        font-size: 13px;
        opacity: 0.8;
    }
    #large-info{
        border-radius: 10px;
        width:50%;
    }
    
    #small-info{
        border-radius: 10px;
        width:98%;
        // font-family: 'Cutive Mono', monospace;
    }

    .read-more{
        background: var(--secondary);
        border:none;
        border-radius: 4px;
        color: #fff;
        padding: 1px 4px;
        margin: 0 3px;
        display:inline-block;
    }
}



// social icons

.socials{
    img{
        height: 30px;
        width: 30px;
        padding: 2px;
        border-radius: 50%;
        cursor:pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 60%;
    margin:0 auto;
    

    @media (max-width: 600px){
        width: 90%;
        margin: 0 auto;
    }

    &>div{
        background: var(--dark); 
        margin-right: 5px;
        min-width: 110px;
        min-height: 220px;
        max-height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 10px;
        min-height:210px;
        /* max-width: 200px; */
        border-radius: 5px;
        margin-top: 50px;
        align-self: stretch;
        justify-self: stretch;
        color: var(--tertiary);
        box-shadow: 1px 1px 3px var(--box);

        @media (max-width: 600px){
            height: 250px;
        }

        h4{
            color: var(--secondary);
        }
    }
    .skill-tools{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-items: center;
        justify-content: center;
        max-width: 10px;
        margin: 0 auto;

        #npm{
            height:40px;
            width: 40px;
            margin: 0;
            &:hover{
                transform: scale(1.1)
            }
        }

        #node{
            @extend #npm;
            height:35px;
            width: 35px;
        }
    }
}

// PROJECTS , EXPERIENCE AND CLIENTS
.summary-info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;

        @media (max-width: 600px){
            width: 90%;
            margin:0;
            margin: 0 auto;
        }
        
        h4{
            margin-bottom: 10px;
            color: var(--secondary);
        }

        &>div{
            margin-right: 5px;
            background: var(--dark);
            margin-right: 5px;
            min-width: 110px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            margin-top: 50px;
            align-self: stretch;
            justify-self: stretch;
            height: 100px;
            color: var(--tertiary);
            box-shadow: 1px 1px 3px var(--box);
        }
        p{  
            color: var(--tertiary);
            margin-top: 0;
            font: {
                size: 32px;
                weight: 300;
            }
        }
}