#small-screen{
    display: none;
}

@media only screen and (max-width: 700px){
    #small-screen{
        display:block;
    }

    #large-info{
        display: none;
    } 
}
@media #{$small-screen} {
    .large-skills, .bio-large{
        display:none;
    }
    #summary{
        grid-template-columns: 1fr 1fr;
    }

    .summary-items{
        margin-top: 10px;
    
        h3{
            font-size:20px;
        }
    
        h1{
            font-size: 24px;
        }
        #role{
            font-size: 11px;
            margin-bottom: 40px;
            width: 80%;
        }

        }

   .summary-profile{
    img{
        height: 80%;
        width: 80%;
        display: block;
        margin: 0 auto;
        left: 10%;
    }

    .card{
        height: 65%;
    }
    }
}