#small-screen{
    display: none;
}

    #small-screen{
        display:block;
    }

    #large-info{
        display: none;
}

@media #{$small-screen} {
    // .large-skills, .bio-large{
    //  #large-info ;
    // }


    #summary{
        grid-template-columns: 1fr 1fr;
    }

    .summary-items{
        margin-top: 100px;
    
        h3{
            font-size:20px;
        }
    
        h1{
            font-size: 24px;
        }
        #role{
            font-size: 11px;
            margin-bottom: 40px;
            width: 80%;
        }

        }

   .summary-profile{
    img{
        height: 280px;
        width: 100%;
        display: block;

    }

    .card{
        height: 65%;
    }
    }
}

@media #{$large-screen}{
    
}