@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;;
}  

body{
    // background:repeating-linear-gradient(140deg, #fff, #dcfbfc);
    background: var(--background);
    color:var(--primary);
}

main{
    max-width: 100vw;
}
#main{
    // margin: 10px 0;
    width: 100vw;
    overflow-x: hidden;
}
section{
    margin: 0 auto;
    width: 90%;
    min-height: 300px;
    max-height: fit-content;
    padding-bottom: $p-large;
    border-bottom: 1px solid #3a393927;
    &>h2{
        margin-top: 50px;
    }
    @media only screen and(max-width: 600px) {
       width: 98%
        
    }
}


// HEADINGS
h1{
    font : {
        size: $x-large;
        family: 'League Gothic';
        weight: $semi-bold;
    }
}