section>h2{
    width: 50%;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--secondary);
}
.services h3{
    font-size: 2rem;
}
.services-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.services p{
    opacity: 0.5
}
.services-box>div{
    background: var(--dark);
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    min-width: 240px;
    height: 300px;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
}
.services-box img{
    height: 50px;
    backdrop-filter: invert(1);
    background: var(--secondary);
    padding: 5px;
    border-radius: 5px;
}

// Start of Project 
// Main Project Container 
.project-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60%;
    @media (max-width: 600px) 
        {
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            max-width: 100%;
        }
}

// Project Container
.project-items{
    background: var(--dark);
    border-radius: 0 0 10px 10px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    height: 500px;
    margin: 30px;
    justify-self: stretch;
    color:#fff;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
    overflow:hidden;

    // Project Image
    .project-image{
        overflow: scroll;
        &::-webkit-scrollbar{
            display:none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit:contain;
            // object-position: center;
        }
    }

    // Project Information
    .project-data{
        display: grid;
        grid-template-columns: 3fr 1fr;
        height: fit-content;
        .project-summary{
            padding: 10px;
            #project-title{
                height: 20%;
            }
            #project-date{
                color: var(--secondary);
                height: 20%;
            }
            #project-decription{
                max-width: 90%;
                opacity:0.5;
                height: 60%;
            }
        }
        .project-info{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            #preview-icons{
                display: flex;
                width: 100%;
                justify-content: space-between;
                a{
                    padding: 10px;
                    border-radius: 10px;
                    img{
                        width: 20px;
                        height: 40px;
                        object-fit:initial;
                    }
                }
            }
            & > img{
                height: 30px;
                align-self: end;
                background: #eeebebe0;
                padding: 5px;
            }
        }
    }
}



@media only screen and  (max-width : 600px) {
    .services-box{
        grid-template-columns: 1fr; 
    }
    .services-box>div{
        background: var(--dark);
        margin: 5px auto;
        padding: 10px;
        border-radius: 10px;
        max-width: 300px;
        min-width: 100px;
        height: 300px;
    }
    .services-box p{
        font-size: 0.9rem;
    }


    .project-items{
        border-radius: 0 0 5px 5px ;
        width: 90%;
        margin: 5px auto;
        justify-self: stretch;
    }
}