section>h2{
    width: 50%;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--secondary);
}
.services h3{
    font-size: 2rem;
}
.services-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.services p{
    opacity: 0.5
}
.services-box>div{
    background: var(--dark);
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    min-width: 240px;
    height: 300px;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
}
.services-box img{
    height: 50px;
    backdrop-filter: invert(1);
    background: var(--secondary);
    padding: 5px;
    border-radius: 5px;
}

.project-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
}
.project-items{
    background: var(--dark);
    padding: 10px;
    border-radius: 10px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    margin: 10px;
    justify-self: stretch;
    color:#fff;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
    overflow:hidden;

   
}
.project-items img{
    height: 400px;
    width: 70%;
    border: 1px solid var(--box);
    overflow: hidden;
    border-radius: 8px;
}
.project-data{
    padding: 10px;
}
.project-data h4{
    color: var(--secondary)
}
.project-data p{
    max-width: 80%;
    opacity:0.5;
}
.project-info{
    position: relative;
    #left{
        right:10px;
        top: 85%;
        background: #fff;
        color: var(--secondary)
    }
    #left-img{
        transform: rotate(315deg)
    }
    #right{
        right:10px;
    }
}
.project-info a{
    position: absolute;
    display:flex;
    background: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 20px;
    top: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 12px;
    width:fit-content;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.project-info a img{
    height: 22.5px;
    margin-left: 10px;
}




@media only screen and  (max-width : 600px) {
    .services-box{
        grid-template-columns: 1fr; 
    }
    .services-box>div{
        background: var(--dark);
        margin: 5px auto;
        padding: 10px;
        border-radius: 10px;
        max-width: 300px;
        min-width: 100px;
        height: 300px;
    }
    .services-box p{
        font-size: 0.9rem;
    }


    .project-items{
        padding: 5px;
        border-radius: 5px;
        width: 90%;
        margin: 5px auto;
        justify-self: stretch;
    }
    
    .project-details{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        max-width: 100%;
    }
    
    .project-info{
        #left{
        left:10px;
        top: 20px;
    }
}
}