section>h2{
    width: 50%;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--secondary);
}
.services h3{
    font-size: 2rem;
}
.services-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.services p{
    opacity: 0.5
}
.services-box>div{
    background: var(--dark);
    margin: 10px 10px;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    min-width: 240px;
    height: 300px;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
}
.services-box img{
    height: 50px;
    backdrop-filter: invert(1);
    background: var(--secondary);
    padding: 5px;
    border-radius: 5px;
}

// Start of Project 
// Main Project Container
#all-projects{
    display: block;
    margin: 10px auto;
    border: none;
    outline:none;
    width: 200px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    background: var(--secondary);
    &:hover{
        background: var(--nav);
    }
    
    a{
        color:#fff;
        margin: auto;
        width: 100%;
        padding: 15px;
        height: 100%;
        display: block;
        &:hover {
            color: var(--primary)
        }
    }
}
.project-details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60%;
    @media (max-width: 600px) 
        {
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            max-width: 100%;
        }
}

// Project Container
.project-items{
    background: var(--dark);
    border-radius: 0 0 10px 10px;
    display:grid;
    grid-template-rows: 3fr 1fr;
    height: 300px;
    margin: 30px;
    justify-self: stretch;
    color:#fff;
    color: var(--tertiary);
    box-shadow: 1px 1px 3px var(--box);
    overflow:hidden;

    // Project Image
    .project-image{
        overflow: scroll;
        height: 200px;
        width: 100%;
        &::-webkit-scrollbar{
            display:none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit:initial;
            // object-position: center;
        }
    }

    // Project Information
    .project-data{
        display: grid;
        grid-template-columns: 3fr 1fr;
        margin-top:0;
        background: var(--nav);
        // height: 100px;
        .project-summary{
            padding-left: 10px;
            // display: flex;
            // flex-direction: column;
            justify-content: center;
            // align-items: center;
            height: 100px;
            h4{
                margin-top:0;
            }
            #project-name{
                font-size: 16px;
                margin-top: 10px;
            }
            #project-date{
                color: var(--secondary);
            }
            #project-description{
                font-size: 10px;
                opacity: 0.5;
                text-transform: uppercase;
            }
        }
        .project-info{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            // github and View Icons
            #preview-icons{
                margin-top: 5px;
                display: flex;
                width: 90%;
                justify-content: space-between;
                a{
                    img{
                        width: 20px;
                        height: 40px;
                        object-fit:initial;
                    }
                }
            }
            // Tools Icon
            & > img{
                height: 40px;
                padding: 10px;
                align-self: end;
                // margin: 10px;
            }
        }
    }
}



@media only screen and  (max-width : 600px) {
    .services-box{
        grid-template-columns: 1fr; 
    }
    .services-box>div{
        background: var(--dark);
        margin: 5px auto;
        padding: 10px;
        border-radius: 10px;
        max-width: 300px;
        min-width: 100px;
        height: 300px;
    }
    .services-box p{
        font-size: 0.9rem;
    }
}