
#progress-container{
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 5px 10px;


    &:hover >#progress{
        display:block;
    }

    #progress{
        background: rgb(62, 255, 4);
        width: 80px;
        height: 16px;
        border-radius: 4px;
        position: absolute;
        top:-30px;
        right:-100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        margin-right: 5px;
        display:none;
        z-index: 2;
        // transition: 1s all;
        &::after{
            content: " ";
            border: 7px solid transparent;
            border-top-color: var(--secondary);
            position:absolute;
            top:16px;
            left: 50%;
            z-index:0;

            
        }
        #skill-name{
            height: 16px;
            display:flex;
            align-items: center;
            color:#fff;
            border-radius: 3px 0 0 3px;
            background: var(--secondary);
            margin: 0;
            position: absolute;
        }
        
        #skill-level{
            display:block;
            position: absolute;
            padding: 4px;
            font-weight:700;
            right:0;
            color: rgb(0, 0, 0);
        }
        #skill-title{
            @extend #skill-level;
            left:0;
            background: none;
            color:#fff;
            font-weight: 500;
        }
    } 
}